@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.datas {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 50px;
  align-items: center;
  justify-content: center;
}
.imgcrad {
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
}
.productDiv {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.titlecrad {
  text-align: center;
  color: rgb(253, 95, 0);
  font-family: "Anton", sans-serif;
  font-size: 24px;
}
.paramcrad {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: rgb(147, 161, 192);
}
